# Set .union() Operation

In [ ]:
#Example

#>>> s = set("Hacker")
#>>> print s.union("Rank")
#set(['a', 'R', 'c', 'r', 'e', 'H', 'k', 'n'])

#>>> print s.union(set(['R', 'a', 'n', 'k']))
#set(['a', 'R', 'c', 'r', 'e', 'H', 'k', 'n'])

#>>> print s.union(['R', 'a', 'n', 'k'])
#set(['a', 'R', 'c', 'r', 'e', 'H', 'k', 'n'])

#>>> print s.union(enumerate(['R', 'a', 'n', 'k']))
#set(['a', 'c', 'r', 'e', (1, 'a'), (2, 'n'), 'H', 'k', (3, 'k'), (0, 'R')])

#>>> print s.union({"Rank":1})
#set(['a', 'c', 'r', 'e', 'H', 'k', 'Rank'])

#>>> s | set("Rank")
#set(['a', 'R', 'c', 'r', 'e', 'H', 'k', 'n'])

In [1]:
#Input

#9
#1 2 3 4 5 6 7 8 9
#9
#10 1 2 3 11 21 55 6 8

#Output

#13

In [13]:
def setUnion(array1,array2):
    print(array1)
    print(array2)
    print(len(array1.union(array2)))

In [11]:
_, a = input(), set(input().split())
_, b = input(), set(input().split())
setUnion(a,b)

set()
set()
set()

In [14]:
num1 = [1,2,3,4,5,6,7,8,9]
num2 = [10,1,2,3,11,21,55,6,8]
setUnion(set(num1),set(num2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 6, 8, 10, 11, 21, 55}
13